@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html{
    @apply overflow-x-hidden m-0 p-0 ;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    z-index: -2;
    transition: width 5.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease;
    scroll-behavior: smooth;
}


.container{
    transition: width 0.3s ease, height 0.3s ease;
}

.team-container{
    box-shadow: 10px 12px 15px 3px rgb(164, 163, 163);
}