@tailwind base;
@tailwind components;
@tailwind utilities;

.contact-phone-container:hover .contact-phone {
    content: url('/images/phone.png');
    @apply w-6 h-6 mt-[19.5px] mr-2
}

.contact-email-container:hover .contact-email{
    content: url('/images/blue-email.png');
    @apply w-6 h-6 mt-[19.5px] mr-2
}

.contact-location-container:hover .contact-location{
    content: url('/images/blue-location.png');
    @apply w-7 h-7 mt-[16px] mr-2
}

.contact-btn-container:hover .contact-btn-img{
    content: url('/images/blue-send-message.png')
}