@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-container{
  @apply flex justify-evenly left-0 right-0 mx-auto w-[50%] max-w-[35rem] text-[15px]  font-bold
}

.nav-container li{
  @apply cursor-pointer
}

.small-nav-container{
  @apply w-[100%] fixed right-0 left-0 top-0 bottom-0  flex flex-col z-20 bg-white justify-center text-2xl items-center font-semibold;
  transform: translateX(-100%); 
  transition: all 0.5s ease-in-out
}

.small-nav-container.active {
  transform: translateX(0); 
}

.small-nav-container li{
  @apply my-3 cursor-pointer
}

.small-nav-container li:hover{
  @apply text-blue-600
}

.menu-btn {
  @apply relative -top-1.5 flex justify-center items-center w-10 h-10 cursor-pointer;

  transition: all .5s ease-in-out;

}

.menu-btn-burger{
  @apply w-7 h-1 bg-gray-900 rounded-md cursor-pointer;
  transition: all .5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  @apply absolute w-7 h-1 bg-gray-900 rounded-md;
  content: "";
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before{
  transform: translateY(-10px);
}

.menu-btn-burger::after{
  transform: translateY(10px);
}

.menu-btn.active .menu-btn-burger{
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.active .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  }
  
.menu-btn.active .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  }


.menu-btn:hover .menu-btn-burger::before, 
.menu-btn:hover .menu-btn-burger::after{
  @apply bg-[#00a8f3] border-[#00a8f3] transition-colors duration-500 cursor-pointer
}


